a {
    text-decoration: none !important;
    text-align: center;
}

.btn-body {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    color: #393E41;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px auto;
    transition: all 0.5s ease; 
}

.btn-body.active {
    background-color: #ffffff3a;
    transform: scale(1.04);
    transition: all 0.2s;
}

.btn-body:hover {
    color: #393e41c4;
}

.btn-title {
    margin: 4px auto;
    font-weight: 500;
    font-size: 14px;
}